#events {
    background: #007eff url(../../img/headline/main_bg.png) !important;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
    color: #fff;
}

#events .title {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}
#events .container {
    padding: 40px 0 40px 0 !important;
}

#events .values-card {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

#events .values-card img {
    display: block;
    width: 500px;
    height: 500px;
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 10px 10px 0 rgba(255, 255, 255, 0.1);
}

#events .values-card .text-content {
    margin-left: 15px;
    padding: 10px;
}

#events .values-card .text-content .date {
    width: 45%;
    background-color: #fea633;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 0px;
}

#events .values-card .text-content .values-title {
    font-size: 38px;
    line-height: 40px;
}

#events .values-card .text-content .values-desc {
    font-size: 15px;
}

@media screen and (max-width:992px){
    #events .values-card {
        display: block;;
    }
    #events .values-card img {
        display: table;
        margin: auto;
        width: 300px;
        height: 300px;
    }
}