footer {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left bottom 0px;
    padding-top: 120px;
    padding: 15px;
    background-size: 100% auto !important;
    background-position: center bottom 0px !important;
}

footer .footer-box {
    text-align: center;
    background-image: url(../../img/headline/main_bg.png);
    background-color: #007eff;
    color: #ffffff;
    margin: 0px auto;
    padding: 80px 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
}

footer .footer-box .content {
    padding-left: 80px;
    padding-right: 80px;
}

footer .footer-box .content h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

footer .footer-box .content p {
    font-size: 16px;
}

footer .input__group {
    max-width: 560px;
    margin: 40px auto 0px;
    position: relative;
}

footer .input__group input[type="email"] {
    width: 100%;
    padding: 20px 80px 20px 30px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    border-radius: 35px;
    border: 1px solid #c1c1c1;
    font-size: 18px;
    color: #27346d;
}

footer .input__group button {
    width: 50px;
    height: 50px;
    background-color: #006bff;
    line-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

footer .input__group button i {
    font-size: 24px;
    color: #ffffff;
}

footer .nav-links {
    padding: 20px;
    padding-top: 50px;
}

footer .nav-links .footer-desc {
    opacity: 0.6;
    margin-top: 20px;
}

footer ul {
    text-align: left !important;
}

footer ul .icon {
    margin-right: 10px;
    color: #fea633;
}

footer ul .list-head {
    font-size: 20px;
    margin-bottom: 10px;
}

footer ul .list-item {
    opacity: 0.6;
    padding-top: 10px;
}

footer ul .list-item-link {
    position: relative;
    opacity: 0.6;
    padding-top: 10px;
    float: left;
    width: 50%;
}

footer ul .list-item-link::before {
    content: "";
    position: absolute;
    left: -13px;
    top: 65%;
    width: 5px;
    height: 5px;
    margin-top: -2px;
    border-radius: 50%;
    background-color: #fea633;
}

@media screen and (max-width:992px) {
    footer {
        padding-top: 60px;
    }
    footer .footer-box {
        padding-left: 10px;
    }

    footer .footer-links {
        display: none;
    }
    footer ul .list-item-link  {
        width: 100%;
    }
    footer .footer-box .content {
        padding-left: 7px;
        padding-right: 7px;
    }
}